<div class="row justify-content-center">
  <div class="col-md-8">
    <div class="text-center">
      <h1 class="display-4 mb-4"><%= t('home.welcome_title') %></h1>
      <p class="lead mb-4">
        <%= t('home.welcome_description') %>
      </p>

      <% unless user_signed_in? %>
        <div class="d-grid gap-2 d-md-block">
          <%= link_to t('home.register_now'), new_user_registration_path,
              class: "btn btn-primary btn-lg me-2" %>
          <%= link_to t('home.already_registered'), new_user_session_path,
              class: "btn btn-outline-primary btn-lg" %>
        </div>
      <% end %>
    </div>
  </div>
</div>

<% unless user_signed_in? %>
<div class="row justify-content-center mt-5">
  <div class="col-md-10">
    <div class="row">
      <div class="col-md-4 text-center mb-4">
        <div class="card h-100">
          <div class="card-body">
            <h5 class="card-title"><%= t('home.realtime_chat') %></h5>
            <p class="card-text"><%= t('home.realtime_chat_desc') %></p>
          </div>
        </div>
      </div>

      <div class="col-md-4 text-center mb-4">
        <div class="card h-100">
          <div class="card-body">
            <h5 class="card-title"><%= t('home.multiple_rooms') %></h5>
            <p class="card-text"><%= t('home.multiple_rooms_desc') %></p>
          </div>
        </div>
      </div>

      <div class="col-md-4 text-center mb-4">
        <div class="card h-100">
          <div class="card-body">
            <h5 class="card-title"><%= t('home.user_friendly') %></h5>
            <p class="card-text"><%= t('home.user_friendly_desc') %></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<% end %>
